.well{
    background-color:rgb(53, 189, 83);
    background-image: url(/home/austin/pig-dice/images/rolling-dice-gif-10.gif)
}
body{
    background-image: url("/home/austin/pig-dice/images/rolling-dice-gif-7.gif")
}
h1 {
    color: rgba(60, 255, 0, 0.705);
}
button{
    color: rgb(0, 255, 13);
    background-color: black;
    float:right;
    height: 60px;
    width: 50px;
    
}
.jk {
    color:black;
}
.kj{
    color: black;
}