.well{
    background-color:rgb(53, 189, 83);
    background-image: url(/home/austin/pig-dice/images/rolling-dice-gif-10.gif)
}
body{
    background-image: url("/home/austin/pig-dice/images/rolling-dice-gif-7.gif")
}

.jk {
    color:black;
}
.kj{
    color: black;
}
.jumbotron {
    background-image: url("/home/austin/pig-dice/images/original.jpg")
}
#lol {
  color:rgba(128, 128, 128, 0.849); 
  text-align: center; 
}


